h1{
    text-align: center;
}

body {
    margin: 0;
    padding: 0;
    background-image: url(../img/pattern.jpg);
}

a{
    text-decoration: none;
}

header{
    display: flex;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

nav ul{
    display: flex;
    list-style-type: none;
}

nav ul a{
    margin-right: 2rem;
}

section {
    margin: 5rem auto 0 auto;
    width: 80%;
    background-color: whitesmoke;
}

section h1{
    text-align: center;
    padding: 1.5rem;
}

section #article-list{
    padding: .5rem;
}

#article-list div{
    margin-top: 4rem;
}

div p{
    text-align: justify;
    padding-bottom: 1rem;
    border-bottom: 1px solid grey;
}

footer{
    background-color: black;
    color: white;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

