.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#isi{
  margin:0px auto;
  height:auto;
  width:570px;
  border:1px solid black;
  padding:20px;
  border-radius:10px;
}
table tr td{
   text-align: left;
   width:150px;
}
button{
  margin-top: 20px;
  background: white;
  border:1.3px solid black;
  padding:6px;
  border-radius:13px;
}

